footer.footer_wrapper {
  font-family: Arial, sans-serif;
  background-color: #cceffc;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.lets_talk {
  text-align: center;
  padding: 20px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  /* width: 100%; */
}

.lets_talk h1.contact_us {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  max-width: 685px;
  width: 100%;
  text-align: left;
  line-height: 56px;
}

div.btn_wrapper_lets {
  max-width: 285px;
  width: 100%;
}

.lets_talk button {
  padding: 10px 20px;
  background-color: #2a3d8e;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid #fff;
  transition: background-color 0.3s;
  padding: 16px 22px;
}

.lets_talk button:hover {
  background-color: #1c2a6e;
}

.footer {
  background-color: #2a3d8e;
  color: #fff;
  padding: 20px 10%;
  margin-top: auto;
  width: 100%;
}

.footer-section {
  max-width: 1000px;
  margin-inline: auto;
}

.footer .footer-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section div {
  flex: 1;
  padding: 10px;
  min-width: 200px;
}

.footer-section div h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.footer-section div p,
.footer-section div a {
  font-size: 0.9rem;
  color: #fff;
  text-decoration: none;
  display: block;
  margin: 5px 0;
}

.footer-section div a:hover {
  color: #d4e3f7;
}

.footer .social-media a {
  font-size: 1.5rem;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

.footer .bottom-bar {
  max-width: 1000px;
  margin-inline: auto;
  margin-top: 20px;
  font-size: 0.8rem;
  text-align: center;
  color: #d4e3f7;
}

.footer .bottom-bar a {
  color: #d4e3f7;
  text-decoration: none;
}

.footer .bottom-bar a:hover {
  color: #fff;
}

div.bottom-bar > article.company_copy_right {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid #ffffff33;
}

div.bottom-bar > p.dev_by {
  padding-top: 20px;
}

@media (max-width: 768px) {
  .footer .footer-section {
    flex-direction: column;
    text-align: center;
  }

  .lets_talk h1 {
    font-size: 1.2rem;
  }

  .lets_talk button {
    font-size: 0.9rem;
  }

  .lets_talk {
    flex-wrap: wrap;
  }

  .company_copy_right {
    padding-inline: 10px;
  }
}
