:root {
  --brand-color: #25418A;
  --dark-brand-color: #031A38;
  --brand-secondary: #22A8E0;
  --brand-light: #808181;
}

#admin-bar-inline-css {
  margin: 0 !important;
}

body {
  margin: 0 !important;
  font-family: barlow;
}

section.nav_wrapper {
  max-width: 80%;
  margin: auto;
  padding: 10px 0;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.list-none {
  list-style: none;
}

.nav_items_wrapper {
  gap: 2rem;
}

/* Styling for nav items */
.nav_links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav_links .menu-main-menu-container li {
  padding: 0 15px 10px 15px;
  list-style-type: none;
}

ul.menu>li.menu-item {
  position: relative;
  font-size: 1.2em;
}

ul.menu>li.menu-item:hover a {
  color: var(--brand-secondary);
  cursor: pointer !important;
}

ul.menu>li.current-menu-item::before,
ul.menu>li.menu-item:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 2px;
  background-color: var(--brand-secondary);
  transition: width 0.3s ease;
}

ul.menu>li.menu-item:hover::before {
  width: 80%;
  transition: width 0.3s ease;
}

.nav_links .menu-main-menu-container li a {
  text-decoration: none;
  color: #444;
}

.nav_links .menu-main-menu-container li:hover a {
  color: #000;
}

.contact_us_btn {
  background-color: var(--brand-color);
  color: white;
  padding: 16px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Mobile menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
}

/* social links style */

.social_links_wrapper {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f9f9f900;
  border-radius: 8px 0 0 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 150px;
  transition: width 0.3s ease, transform 0.3s ease;
  overflow: hidden;
  width: 50px;
  animation: tilt 3s infinite alternate ease-in-out;
  z-index: 10000;
}

@keyframes tilt {
  0% {
    transform: translateY(-50%) scale(1);
  }

  50% {
    transform: translateY(-50%) scale(1.05);
  }

  100% {
    transform: translateY(-50%) scale(1);
  }
}

.social_links_wrapper:hover {
  width: 200px;
  transform: translateY(-50%) translateX(0) rotate(0);
  animation: none;
  background-color: #f9f9f9;
}

.social_links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.social_link_item_wrapper {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social_link_item_wrapper a {
  text-decoration: none;
  color: #333;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.social_link_item_wrapper p {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.social_links_wrapper:hover .social_link_item_wrapper p {
  opacity: 1;
}

.social_link_item_wrapper img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.social_link_item_wrapper img:hover {
  transform: scale(1.1);
}

/* social links style */

@media (max-width: 1024px) {
  .nav_links ul {
    display: none;
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    background-color: white;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
  }

  .nav_links ul.show {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .contact_us_btn {
    padding: 8px 16px;
    font-size: 14px;
  }

  .nav_items_wrapper {
    gap: 0;
    text-align: center;
  }

  .logo_wrapper img {
    width: 120px;
  }
}

@media (min-width: 1024px) {

  section.nav_wrapper {
    max-width: 100%;
    margin: auto;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
  }

  nav.main-nav-wrapper {
    width: 100%;
    padding-block: 30px;
    transition: padding-block 0.5s ease;
    position: fixed;
    top: 0;
    z-index: 1000;
    justify-content: space-around;
  }

  nav.main-nav-wrapper.scrolled {
    position: fixed;
    padding-block: 10px;
    background: white;
    box-shadow: 0px 2px 4px #0000001f;
  }

  nav.main-nav-wrapper.scrolled ul.menu>li.menu-item {
    position: relative;
    font-size: 1em;
    transition: font-size 0.5s ease;
  }

}

/* media for 768px */
@media (max-width: 768px) {
  section.contact_wrapper>button.contact_us_btn {
    display: none;
  }

  body.page-template-events_t section.main_hero_wrapper {
    margin-top: 90px !important;
  }

  /* primary menu sidebar */
  div.menu-main-menu-container ul.menu {
    left: -100%;
    transition: left 0.5s ease;
  }

  div.menu-main-menu-container ul.menu.show {
    background: rgb(26, 63, 114);
    position: absolute;
    top: 0;
    bottom: 0;
    min-height: 100vh;
    overflow-y: auto;
    max-width: 80%;
    padding-top: 83px;
    z-index: 100;
    left: 0;
    transition: left 0.5s ease;
  }

  .menu ul.menu.show li {
    padding-block: 15px;
    padding-left: 50px;
    color: #fff !important;
    border-bottom: 1px solid #ffffff9f;
  }

  ul.menu.show li:last-child {
    border-bottom: none;
  }

  ul.menu.show li>a {
    color: #fff !important;
  }

  ul.menu.show li::before {
    margin-right: 20px;
    width: 100%;
    display: inline-block;
  }

  ul.menu>li.menu-item:hover::before {
    content: none;
  }

  ul.menu.show li.about-us-link::before {
    content: url('../images/about-us.svg');
  }

  ul.menu.show li.services-link::before {
    content: url('../images/services.svg');
  }

  ul.menu.show li.portfolio-link::before {
    content: url('../images/portfolio.svg');
  }

  ul.menu.show li.the-team-link::before {
    content: url('../images/the-team.svg');
  }

  ul.menu.show li.home-link::before {
    content: url('../images/house-icon.svg');
  }
}